.button {
  border: none;
  height: 50px;
  width: 200px;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.primary {
  background: #ff0000;
}
.secondary {
  background-color: #e7e7e7;
}
.success {
  background-color: #4caf50;
}

.danger {
  background-color: #f44336;
}
